@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
}

:root {
    --cor01:#D4FCF1;
    --cor02:#7FD0FF;
    --cor03:#ABC8FF;
    --cor04:#05669e;
}


body {
    background-color: var(--cor01);
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(to bottom,#5ca0c7, #3577a39c);
    padding: 20px;
}
header h1{
    text-align: center;
    font-family: 'anton';
    font-size: 50px;
    font-weight: normal;
}

.links {
    height: 45px;
    background-color: #3577a39c;
    justify-content: center;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    list-style: none;
    padding: 10px;
    gap: 40px;
    margin: auto;
    margin-bottom: 7px;
    display: flex;
    font-weight: normal;
}

.links a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-align: center;
    background-color: var(--cor03);
    color: black;
    width:150px;
    text-decoration: underline;
    border-radius: 7px;
}

#conteudo {
    background-color: #eef0f1;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
}

main h1{
    font-family: 'anton';
    font-weight: normal;
    background-image: linear-gradient(to right,#7fd0ff93, transparent);
    text-align: center;
    color: var(--cor04);
    background-color: var(--cor01);
    height: 50px;
    padding-left: 0px;
    margin: 10px -10px 10px -10px;
    padding: 8px;
}

h1.pre {
    margin-top: 20px;
}

#conteudo p {
    padding: 20px;
    text-indent: 20px;
}

img {
    width:500px;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    border-radius: 10px;
}

div.video {
    background-color: var(--cor04);
    margin: 0px -10px 0px -10px;
    padding: 10px;
    padding-bottom: 56.2%;
    border-radius: 10px;

    position: relative;
}

div.video iframe {
    position: absolute;
    box-shadow: 1px 1px 1px black;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
   
}

footer {
    background-color: var(--cor04);
    padding: 14px;
}
footer p {
    color: white;
    text-align: center;
    font-weight: bold;
}

.redes {
    margin-top: 7px;
    padding: 5px;
}

.listas {
    list-style: none;
    margin-bottom: 15px;
}